<div class="iconpopup__inner {{_iconPopup._classes}}">
  <div class="iconpopup__items">
    {{#each _iconPopup._items}}
    <div class="iconpopup__item item-{{@index}}">

        {{#if _buttonGraphic._isEnabled}}
        <button class="iconpopup__btn iconpopup-button-states-image js-iconpopup-btn-click" aria-label="{{_ariaLabels.openPopup}}">
          <img src="{{_buttonGraphic.src}}"/>
          <img src="{{_buttonGraphic.srcHover}}" class="iconpopup-button-image-hover"/>
          <img src="{{_buttonGraphic.srcVisited}}" class="iconpopup-button-image-visited"/>
        </button>
        {{/if}}

        {{#if _buttonIcon._isEnabled}}
        <button class="btn-icon iconpopup__btn js-iconpopup-btn-click" aria-label="{{_ariaLabels.openPopup}}">
          <div class="icon {{_buttonIcon._icon}}">
          </div>
        </button>
        {{/if}}

        {{#if _buttonTitle}}
        <button class="btn-text iconpopup__btn js-iconpopup-btn-click" aria-label="{{_ariaLabels.openPopup}}">
          <div class="iconpopup__btn-text">
            {{_buttonTitle}}
          </div>
        </button>
        {{/if}}

      </div>
    {{/each}}
  </div>
</div>
