<div class="iconpopup__inner {{_iconPopup._classes}}">
  <div class="iconpopup__items">
    {{#each _iconPopup._items}}
    <div class="iconpopup__item item-{{@index}}">

        {{#if _buttonGraphic._isEnabled}}
        <button class="iconpopup__btn is-image{{#if _buttonGraphic.srcHover}} iconpopup-button-states-image{{/if}} js-iconpopup-btn-click" aria-label="{{_ariaLabels.openPopup}}">
          <img src="{{_buttonGraphic.src}}" class="iconpopup-button-image-default"/>
          <img src="{{_buttonGraphic.srcHover}}" class="iconpopup-button-image-hover"/>
          <img src="{{_buttonGraphic.srcVisited}}" class="iconpopup-button-image-visited"/>
        </button>
        {{/if}}

        <button class="iconpopup__btn js-iconpopup-btn-click" aria-label="{{_ariaLabels.openPopup}}">
          {{#any _buttonIcon._iconSelection _buttonIcon._icon}}
          <div class="icon {{#if _buttonIcon._iconSelection}}{{_buttonIcon._iconSelection}}{{else if _buttonIcon._icon}}{{_buttonIcon._icon}}{{/if}}"></div>
          {{/any}}

          {{#if _buttonTitle}}
          <div class="iconpopup__btn-text{{#any _buttonIcon._iconSelection _buttonIcon._icon}} is-icon{{/any}}">
            {{_buttonTitle}}
          </div>
          {{/if}}
        </button>

      </div>
    {{/each}}
  </div>
</div>
