<div class="icon-popup-inner {{_iconPopup._classes}}">
  <div class="icon-popup-items">
    {{#each _iconPopup._items}}
    <div class="icon-popup-item">
        {{#if _buttonGraphic._isEnabled}}
        <button class="icon-popup-graphic-button{{#if _buttonGraphic.srcHover}} icon-popup-button-states-image{{/if}}" aria-label="{{_ariaLabels.openPopup}}">
            <img src="{{_buttonGraphic.src}}"/>
            <img src="{{_buttonGraphic.srcHover}}" class="icon-popup-button-image-hover"/>
            <img src="{{_buttonGraphic.srcVisited}}" class="icon-popup-button-image-visited"/>
        </button>
        {{else}}
        <button class="icon-popup-open-button{{#if _buttonIcon._isEnabled}} icon {{_buttonIcon._icon}}{{/if}}" aria-label="{{_ariaLabels.openPopup}}">
          {{#if _buttonTitle}}
            {{_buttonTitle}}
          {{/if}}
        </button>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
