{{! make the _globals object in course.json available to this template}}
{{import_globals}}

{{#if _notifyGraphic.src}}
	<div class="iconpopup__header">
		<img src="{{_notifyGraphic.src}}" {{#if  _notifyGraphic.alt}}aria-label="{{ _notifyGraphic.alt}}"{{else}}aria-hidden="true"{{/if}}/>
	</div>
{{/if}}

{{#if title}}
<div class="notify__title" id="notify-heading">
	<div class="notify__title-inner" {{{a11y_attrs_heading 'notify'}}}>
		{{{compile title}}}
	</div>
</div>
{{/if}}

<div class="iconpopup__content">

	{{#if body}}
	<div class="notify__body{{#if _itemGraphic.src}}{{else}} fullwidth{{/if}}">
		<div class="notify__body-inner">
			{{{compile body}}}
		</div>
	</div>
	{{/if}}

	{{#if _itemGraphic.src}}
	<div class="iconpopup__graphic{{#if body}}{{else}} fullwidth{{/if}}">
		<div class="iconpopup__graphic-inner">
			<img src="{{_itemGraphic.src}}" {{#if  _itemGraphic.alt}} aria-label="{{_itemGraphic.alt}}"{{else}}aria-hidden="true"{{/if}}/>
		</div>
	</div>
	{{/if}}

</div>

<div class="notify__btn-container">
	<button class="btn-text notify__btn js-iconpopup-close-btn-click" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
		{{{_globals._accessibility._ariaLabels.closePopup}}}
  </button>
</div>

{{a11y_wrap_focus}}
